---
import Navbar from "../../components/Navbar.astro";
import "../../styles/global.css"
import '@fontsource/matemasie';

const { pageTitle } = Astro.props;
---

<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/favicon.svg" type="image/svg+xml">
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>

    <body>
        <Navbar/>
        <main class="baselayout-container">
            <slot/>
        </main>
    </body>
</html>
