---
import PostItem from "./PostItem.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const recentPosts = allPosts.map((__, index, arr) => index == arr.length -2 || index === arr.length - 1 ? arr[index] : null).filter(x => x !== null); 
---

<style>
  .post-list {
    display: flex;
  }


	@media only screen and (max-width: 768px) {
    .post-list {
      flex-direction: column;
    }
  }
</style>

<div>
  <ul class="post-list">
    {recentPosts ? recentPosts.map((post) => (
      <PostItem post={post}/>
      )) : <h1>Nenhum Post encontrado ;-;</h1>}
  </ul>
</div>
